<launch>
  <arg name="camera" default="/camera/color"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" 
    args="0.1 0 1.15 -1.5708 0 -1.5708 base_footprint camera_color_optical_frame 100" />

  <node type="fiducial_slam" pkg="fiducial_slam" output="screen" name="fiducial_slam">
    <param name="map_file" value="$(env HOME)/.ros/slam/map.txt" />
    <param name="read_only" value="false" />
    <param name="overwrite_existing_map" value="true" />
    <param name="map_frame" value="map" />
    <param name="odom_frame" value="odom" />
    <param name="base_frame" value="base_footprint" />
    
    <param name="future_date_transforms" value="1" /> 
    
    <param name="publish_6dof_pose" value="true" />
    <param name="do_pose_estimation" value="true" /> 
    <param name="publish_tf" value="true" /> 
    <param name="republish_tf" value="true" />

    <param name="min_fiducial_observations" value="2" /> 
    
    <param name="max_variance" value="1000000000.0" /> 
    
    <param name="systematic_error" value="0.01"/>     
    
    <param name="sum_error_in_quadrature" value="true"/>
    
    <rosparam param="covariance_diagonal" subst_value="True">0.1 0.1 0.1 0.1 0.1 0.1</rosparam>

    <remap from="/camera_info" to="$(arg camera)/camera_info"/>
  </node>
</launch>