<launch>
  <arg name="camera" default="/camera"/>
  <arg name="map_frame" default="map"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="base_frame" default="base_footprint"/>
  <arg name="publish_tf" default="true"/>

  <arg name="tf_publish_interval" default="0.1"/> 
  <arg name="pose_publish_rate" default="15"/>
  
  <arg name="publish_6dof_pose" default="false"/>
  
  <arg name="systematic_error" default="0.1"/>
  
  <arg name="covariance_diagonal" default="0.2, 0.2, 0.2, 0.2, 0.2, 0.2"/>

  <node type="fiducial_slam" pkg="fiducial_slam" output="screen" 
    name="fiducial_slam" respawn="true">
    
    <param name="map_file" value="$(env HOME)/.ros/slam/map.txt" />
    
    <param name="map_frame" value="$(arg map_frame)" />
    <param name="odom_frame" value="$(arg odom_frame)" />
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="publish_tf" value="$(arg publish_tf)" />
    <param name="tf_publish_interval" value="$(arg tf_publish_interval)" />
    <param name="publish_6dof_pose" value="$(arg publish_6dof_pose)" />
    <param name="pose_publish_rate" value="$(arg pose_publish_rate)" />
    
    <param name="sum_error_in_quadrature" value="true"/>
    <param name="do_pose_estimation" value="true"/>
    <param name="multi_marker_reinference" value="true"/> 
    
    <param name="fiducial_len" value="0.15"/>
    
    <param name="systematic_error" value="$(arg systematic_error)"/>
    <rosparam param="covariance_diagonal" subst_value="True">$(arg covariance_diagonal)</rosparam>
    
    <remap from="/camera_info" to="$(arg camera)/color/camera_info"/>
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" 
    args="0.1 0 0.2 0 0 0 base_link camera_link 100" />

</launch>